*{
    padding: 0;
    margin: 0;
    background-image: url(..//img/bg4.jpg);
 
}
form{
    color: aliceblue;
    width: 60%;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    

}
form h1{
    text-align: center;
    padding-top: 45px;
}
form .details{
    padding: 55px 55px 0 55px;
    font-size: 20px;
}

form .details input{
    width: 275px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid gray ;
}
.details .dates #date{
    float: right;
    position: relative;
    right: 300px;
    bottom: 19px;
}
.gender{
    padding: 55px;
    font-size: 20px;

}
.dropdown{
    padding: 10px;
    font-size: 1rem;
}
::placeholder{
    font-size: 1rem;
}
.radio{
    padding: 55px;
    font-size: 20px;
  
}

input[type="radio"]{
    width: 25px;
    height: 20px;
    column-rule: #001858;
}
.questions{
    padding: 55px;
    font-size: 20px;
}
span{
    font-size: 1rem;
}
.feedback{
    padding: 55px;
    font-size: 20px;
}
.btn{
    padding: 35px 0 50px 0;
  width: 9opx;
  display: flex;
  justify-content: center;
  margin: auto;
}
.feedback textarea{
    padding: 10px;
    font-size: 1rem;
}
form button{
    padding: 15px;
    font-size: 18px;
    width: 10em;
    background: linear-gradient(0deg, #fc8d83 0, #e4685d);
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    
}